<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="adduser/" method="post">
        <input type="text" name="username" placeholder="用户名">
        <input type="text" name="email" placeholder="邮箱">
        <input type="submit" value="添加">
    </form>
</div>

<div>
    <table>
        {% for row in user_list %}
            <tr>
                <td>{{ row.username }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.gender }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>