{% extends 'master.html' %}

{% block title %}用户管理{% endblock %}


{% block header %}
    <a style="float: right; margin-right: 15px; font-size: 18px; color: white">欢迎登录:{{ current_user }}</a>
{% endblock %}


{% block content %}
    <!--<div style="position: fixed; left: 300px; width: 800px;">-->
    <div style="position: absolute; left: 300px; width: 800px;">
        <div class="ibox-content">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>邮箱</th>
                    <th>动作</th>
                </tr>
                </thead>

                <tbody>
                {% for row in data_list %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.username }}</td>
                        <td>{{ row.gender }}</td>
                        <td>{{ row.age }}</td>
                        <td>{{ row.email }}</td>
                        <td>
                            <a href="/cmdb/detail-{{ row.id }}.html">详细 | </a>
                            <a href="/cmdb/useredit-{{ row.id }}.html">编辑 | </a>
                            <a href="/cmdb/userdel-{{ row.id }}.html">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div>
            <select id="ps" onchange="changePageSize(this)">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>

            <div class="pagination">
                {{ page_str }}
            </div>

        </div>
    </div>
    </div>



    </div>

    <div id="h1" class="hide c1"></div>


    <div id="h2" class="hide c2">
        <div style="margin-top: 50px; margin-left: 10%">
            <p><input type="text">名称</p>
            <p><input type="text">用户名</p>
            <p><input type="text">用户组</p>
            <p>
                <input type="button" value="确认" onclick="cancelModel()">
                <input type="button" value="取消" onclick="cancelModel()">
            </p>
        </div>
    </div>




{% endblock %}

{% block script %}
    <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous">
    </script>


    <script>
        $(function () {
            var v = $.cookie('per_page_count', {'path': "/cmdb/modelbox/`"});
            $('#ps').val(v);
        });

        function changePageSize(ths) {
            var v = $(ths).val();
            console.log(v);
            $.cookie('per_page_count', v, {'path': "/cmdb/modelbox/"});

            location.reload();
        }
    </script>

    <script>
    function changeMenu(nid) {
        var current_id = document.getElementById(nid);
        var item_list = current_id.parentElement.parentElement.children;

        for (var i = 0; i < item_list.length; i++) {
            var current_item = item_list[i];
            current_item.children[1].classList.add('hide')
        }
        current_id.nextElementSibling.classList.remove('hide')

    }
    </script>


{% endblock %}
