{% extends 'master.html' %}

{% block title %} yonghu {% endblock %}



{% block content %}
    <!--<div style="position: fixed; left: 300px; width: 800px;">-->
    <div style="position: absolute; left: 300px; width: 800px;">
        <div class="ibox-content">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>邮箱</th>
                    <th>动作</th>
                </tr>
                </thead>

                <tbody>
                {% for row in data_list %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.username }}</td>
                        <td>{{ row.gender }}</td>
                        <td>{{ row.age }}</td>
                        <td>{{ row.email }}</td>
                        <td>
                            <a href="/cmdb/detail-{{ row.id }}.html">详细 | </a>
                            <a href="/cmdb/useredit-{{ row.id }}.html">编辑 | </a>
                            <a href="/cmdb/userdel-{{ row.id }}.html">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
    </div>



    </div>

    <div id="h1" class="hide c1"></div>


    <div id="h2" class="hide c2">
        <div style="margin-top: 50px; margin-left: 10%">
            <p><input type="text">名称</p>
            <p><input type="text">用户名</p>
            <p><input type="text">用户组</p>
            <p>
                <input type="button" value="确认" onclick="cancelModel()">
                <input type="button" value="取消" onclick="cancelModel()">
            </p>
        </div>
    </div>



{% endblock %}

